<table class="table-comment">
  <h3><strong>コメント一覧</strong></h3>
  <tbody>
    <% error.error_comments.each do |error_comment| %>
    <tr>
      <td class="comment-mentor">
        <% if error_comment.mentor_id.nil? %>
          匿名さん
        <% else %>
          <%= error_comment.mentor.name %>
        <% end %>
      </th>
      <td><%= error_comment.comment %></td>
      <td>
        <% if current_mentor.id == error_comment.mentor_id %>
          <%= link_to "削除", error_error_comment_path(error.id, error_comment.id), method: :delete, remote: true, class:"btn-danger"%>
        <% end %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>