/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
 }

html {
font-size: 62.5%;
}

body {
  background-color: #F9F9FA;
}

header a {
  color: black;
}

a:hover {
  text-decoration: none;
  color: black;
}

 .notice {
   margin-top: 4rem;
   text-align: center;
   color: green;
   font-size: 2rem;
 }

 main {
   width: 100%;
 }

 .alert {
   font-size: 1.2rem;
  color:#262626;
  background:#FFEBE8;
  text-align: center;
  border:2px solid #990000;
  padding:12px; font-weight:850;
    ul {
      list-style: none;
    }
}

// ヘッダー
header ul li a:hover {
  text-decoration: none;
}

header {
  width: 100%;
  height: 6rem;
  background-color: #DEDEE0;
  font-size: 1.5rem;
  li {
    line-height: 5rem;
  }
}

// トップページ
.top {
  width: 100%;
}

.top-table {
  width: 80%;
  margin: 0 auto;
  font-size: 1.5rem;
}

.top-thead {
  width: 100%;
}

.thead-item, .tbody-item {
  border: 1px solid #ccc;
  padding: 5px;
}

.thead-item {
  text-align: left;
  color: white;
  width: 20%;
  background-color: #35BCCD;
}

.tbody-item {
  width: 20%;
  a, a:hover {
    color: black;
    text-decoration: none;
  }
}



// エラー投稿ページ,エラー詳細ページ
.error-submit .error-details{
  width: 80%;
  margin: 0 auto;
  position: relative;
}

.btn-favorite {
position: absolute;
left: 15rem;
top: 14rem;
}

.submit-title, .details-title, .top-title{
  margin: 4rem auto;
  text-align: center;
  h1 {
    font-family: 'Noto Sans JP', sans-serif;
    font-weight: bold;
    font-size: 3.5rem;
    }
}

.content-table {
  width: 80%;
  margin: 0 auto;
  margin-bottom: 20px;
  font-size: 1.5rem;
}

.content-item,.content-body {
  padding: 10px;
  border: 1px solid #ccc;
}

.content-item {
  text-align: left;
  color: white;
  width: 20%;
  background-color: #35BCCD;
}

.content-body {
  width: 80%;
}

input {
  width: 30rem;
  height: 2.2rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #F9F9FA;
}

input#error_images {
  width: 30rem;
  height: 2.6rem;
  font-size: 1.2rem;
}
input#error_title {
  width: 45rem;
  height: 3.5rem;
}

select {
  height: 2.5rem;
  width: 30rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #F9F9FA;
}

textarea#error_detail {
  width: 60rem;
  height: 10rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #F9F9FA;
}

textarea#error_solution {
  width: 60rem;
  height: 20rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #F9F9FA;
}

.content-submit {
  width: 250px;
  height: 36px;
  background-color: #60AB9A;
  color: #fff;
  font-weight: bold;
  display: block;
  margin: 0 auto 4rem;
  font-size: 1.6rem;
  border-radius: 100vh;
  border: none;
}

// エラー詳細ページ
.btn {
  text-align: center;
  line-height: 29px;
  width: 250px;
  height: 36px;
  background-color: #60AB9A;
  color: #fff;
  font-weight: bold;
  display: block;
  margin: 0 auto 4rem;
  font-size: 1.6rem;
  border-radius: 100vh;
  border: none;
}

.top a, .top  a:hover, .error-details a, .error-details a:hover {
  text-decoration: none;
  color: #fff;
}

.top .tbody-item a {
  text-decoration: none;
  color: black;
}

.error-btn {
  display: flex;
  width: 600px;
  margin: 0 auto;
}

.comments-table {
  width: 50%;
  margin: 5rem 10rem;
}

.table-comment {
  width: 100%;
  font-size: 1.5rem;
  .comment-mentor {
    width: 20%;
  }
  td {
    width: 80%;
  }
  .btn-danger {
    width: 60px;
    height: 20px;
    line-height: 20px;
    background-color: #D38493;
    color: #fff;
    font-weight: bold;
    display: block;
    font-size: 1.4rem;
    border-radius: 100vh;
    border: none;
    margin: 2rem;
    text-align: center;
  }
}

.comment-form {
  width: 80%;
  margin: 7rem auto;
  textarea#error_comment_comment {
    width: 35rem;
    height: 10rem;
  }
  .comment-submit {
    width: 60px;
    height: 20px;
    line-height: 20px;
    background-color: #60AB9A;
    color: #fff;
    font-weight: bold;
    display: block;
    font-size: 1.4rem;
    border-radius: 100vh;
    border: none;
    margin: 2rem;
  }
}


// エラー詳細ページ画像クリック時のjQuery
  .error-images{
    display: flex;
  }

  .error-img .error-img-ext img{
    width: 100rem;
    height: 80rem;
  }
  .error-images img{
    width: 30rem;
    height: 15rem;
  }

  .box1 {
    background-color: #FF0000;
    height: 200px;
    width: 200px;
  }
  
  .box1-ext {
    border: 10px solid black;
  }
// 新規登録画面
.sign {
  font-family: 'Noto Sans JP', sans-serif;
  margin: 4rem auto;
  width: 40rem;
  text-align: center;
  border: 1px solid #ccc;
  background-color: white;
  h2 {
    font-weight: bold;
    font-size: 3.5rem;
    margin: 2rem 0;
  }
  .sign-table {
    margin: 0 auto;
    margin-bottom: 2.5rem;
  }
  .table-head, .table-body {
    font-size: 1.2rem;
    padding: 1rem;
  }

  .table-head {
    width: 30%;
  }
  .table-body {
    width: 70%;
  }
  input {
    width: 20rem;
    height: 3rem;
    border: 1px solid #ccc;
    border-radius: 3px;
    background-color: #F9F9FA;
  }
  .sign-btn {
    width: 150px;
    height: 30px;
    line-height: 30px;
    background-color: #60AB9A;
    color: #fff;
    font-weight: bold;
    display: block;
    margin: 0 auto 4rem;
    font-size: 1.6rem;
    border-radius: 100vh;
    border: none;
  }
}

